# SPDX-License-Identifier: GPL-2.0-only
menu "ARM SCMI Vendor Protocols"

config ARM_SCMI_PROTOCOL_VENDOR_QCOM
	tristate "Qualcomm Technologies, Inc. Qcom SCMI vendor Protocol"
	depends on ARM_SCMI_PROTOCOL || COMPILE_TEST
	help
	  The SCMI QCOM vendor protocol provides a generic way of exposing a
	  number of Qualcomm SoC specific features (like memory bus scaling)
	  through a mixture of pre-determined algorithm strings and param_id
	  pairs hosted on the SCMI controller.

	  This driver defines/documents the message ID's used for this
	  communication and also exposes the ops used by the clients.

endmenu
