// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2024, Xilin Wu <wuxilin123@gmail.com>
 * Copyright (c) 2024, Flao <placeholder@mail.com>
 * Copyright (c) 2024, Junhao Xie <bigfoot@classfun.cn>
 */

/dts-v1/;

#include <dt-bindings/arm/qcom,ids.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/regulator/qcom,rpmh-regulator.h>
#include "qcs8550.dtsi"
#include "pm8550.dtsi"
#include "pm8550b.dtsi"
#define PMK8550VE_SID 5
#include "pm8550ve.dtsi"
#include "pm8550vs.dtsi"
#include "pmk8550.dtsi"

/*
 * The SoC being used on this product doesn't feature modem
 * and camera subsystem.
 * Variant: 202-AB
 * FEATURE_ID: 0x8
 */

/delete-node/ &mpss_mem;
/delete-node/ &q6_mpss_dtb_mem;
/delete-node/ &ipa_fw_mem;
/delete-node/ &ipa_gsi_mem;
/delete-node/ &camera_mem;
/delete-node/ &mpss_dsm_mem;
/delete-node/ &camcc;
/delete-node/ &remoteproc_mpss;

/ {
	model = "AYN Odin 2";
	compatible = "ayn,odin2", "qcom,qcs8550", "qcom,sm8550";
	chassis-type = "handset";

	qcom,msm-id = <QCOM_ID_QCS8550 0x20000>;
	qcom,board-id = <0x1001f 0>;

	aliases {
		serial0 = &uart7;
		serial1 = &uart14;
		serial2 = &uart15;
	};

	wcd938x: audio-codec {
		compatible = "qcom,wcd9385-codec";

		pinctrl-names = "default";
		pinctrl-0 = <&wcd_default>;

		qcom,micbias1-microvolt = <1800000>;
		qcom,micbias2-microvolt = <1800000>;
		qcom,micbias3-microvolt = <1800000>;
		qcom,micbias4-microvolt = <1800000>;
		qcom,mbhc-buttons-vthreshold-microvolt = <75000 150000 237000 500000 500000 500000 500000 500000>;
		qcom,mbhc-headset-vthreshold-microvolt = <1700000>;
		qcom,mbhc-headphone-vthreshold-microvolt = <50000>;
		qcom,rx-device = <&wcd_rx>;
		qcom,tx-device = <&wcd_tx>;

		reset-gpios = <&tlmm 108 GPIO_ACTIVE_LOW>;

		vdd-buck-supply = <&vreg_l15b_1p8>;
		vdd-rxtx-supply = <&vreg_l15b_1p8>;
		vdd-io-supply = <&vreg_l15b_1p8>;
		vdd-mic-bias-supply = <&vreg_bob1>;

		#sound-dai-cells = <1>;
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pmk8550_pwm 0 860000>;
		brightness-levels = <1023 0>;
		num-interpolated-steps = <1023>;
		default-brightness-level = <600>;
		power-supply = <&vph_pwr>;
		enable-gpios = <&pmk8550_gpios 5 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&pwm_backlight_default>;
		status = "okay";
	};

	fan_pwr: fan-pwr-regulator {
		compatible = "regulator-fixed";
		regulator-name = "fan_pwr";

		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;

		gpio = <&tlmm 109 GPIO_ACTIVE_HIGH>;
		enable-active-high;

		pinctrl-names = "default";
		pinctrl-0 = <&fan_pwr_en>;

		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

	gpio-keys {
		compatible = "gpio-keys";

		pinctrl-0 = <&volume_up_n>, <&m1_m2_keys_default>;
		pinctrl-names = "default";

		key-volume-up {
			label = "Volume Up";
			linux,code = <KEY_VOLUMEUP>;
			gpios = <&pm8550_gpios 6 GPIO_ACTIVE_LOW>;
			debounce-interval = <15>;
			linux,can-disable;
			wakeup-source;
		};

		m1-button {
			label = "M1";
			linux,code = <BTN_TRIGGER_HAPPY1>;
			gpios = <&tlmm 57 GPIO_ACTIVE_LOW>;
		};

		m2-button {
			label = "M2";
			linux,code = <BTN_TRIGGER_HAPPY2>;
			gpios = <&tlmm 58 GPIO_ACTIVE_LOW>;
		};
	};

	hdmi-out {
		compatible = "hdmi-connector";
		type = "d";
		hpd-gpios = <&tlmm 9 GPIO_ACTIVE_HIGH>;

		port {
			hdmi_con: endpoint {
				remote-endpoint = <&lt8912_out>;
			};
		};
	};

	hdmi_pwr: hdmi-pwr-regulator {
		compatible = "regulator-fixed";
		regulator-name = "hdmi_pwr";

		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;

		gpio = <&tlmm 10 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	lcm_vdd_2v8: lcm-vdd-2v8-regulator {
		compatible = "regulator-fixed";
		regulator-name = "lcm_vdd_2v8";

		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;

		gpio = <&tlmm 142 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	led_left_side: led-controller-1 {
		compatible = "pwm-leds-multicolor";

		multi-led {
			label = "left-side";
			color = <LED_COLOR_ID_RGB>;
			max-brightness = <255>;

			led-red {
				color = <LED_COLOR_ID_RED>;
				pwms = <&pwm_rgb_left 0>;
			};

			led-green {
				color = <LED_COLOR_ID_GREEN>;
				pwms = <&pwm_rgb_left 1>;
			};

			led-blue {
				color = <LED_COLOR_ID_BLUE>;
				pwms = <&pwm_rgb_left 2>;
			};
		};
	};

	led_left_joystick: led-controller-2 {
		compatible = "pwm-leds-multicolor";

		multi-led {
			label = "left-joystick";
			color = <LED_COLOR_ID_RGB>;
			max-brightness = <255>;

			led-red {
				color = <LED_COLOR_ID_RED>;
				pwms = <&pwm_rgb_left 6>;
			};

			led-green {
				color = <LED_COLOR_ID_GREEN>;
				pwms = <&pwm_rgb_left 7>;
			};

			led-blue {
				color = <LED_COLOR_ID_BLUE>;
				pwms = <&pwm_rgb_left 8>;
			};
		};
	};

	led_right_side: led-controller-3 {
		compatible = "pwm-leds-multicolor";

		multi-led {
			label = "right-side";
			color = <LED_COLOR_ID_RGB>;
			max-brightness = <255>;

			led-red {
				color = <LED_COLOR_ID_RED>;
				pwms = <&pwm_rgb_right 0>;
			};

			led-green {
				color = <LED_COLOR_ID_GREEN>;
				pwms = <&pwm_rgb_right 1>;
			};

			led-blue {
				color = <LED_COLOR_ID_BLUE>;
				pwms = <&pwm_rgb_right 2>;
			};
		};
	};

	led_right_joystick: led-controller-4 {
		compatible = "pwm-leds-multicolor";

		multi-led {
			label = "right-joystick";
			color = <LED_COLOR_ID_RGB>;
			max-brightness = <255>;

			led-red {
				color = <LED_COLOR_ID_RED>;
				pwms = <&pwm_rgb_right 6>;
			};

			led-green {
				color = <LED_COLOR_ID_GREEN>;
				pwms = <&pwm_rgb_right 7>;
			};

			led-blue {
				color = <LED_COLOR_ID_BLUE>;
				pwms = <&pwm_rgb_right 8>;
			};
		};
	};

	mcu_3v3: mcu-3v3-regulator {
		compatible = "regulator-fixed";
		regulator-name = "mcu_3v3";

		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		gpio = <&tlmm 99 GPIO_ACTIVE_HIGH>;
		regulator-always-on;
		regulator-boot-on;
		enable-active-high;
	};

	pmic-glink {
		compatible = "qcom,sm8550-pmic-glink", "qcom,pmic-glink";
		#address-cells = <1>;
		#size-cells = <0>;
		orientation-gpios = <&tlmm 11 GPIO_ACTIVE_HIGH>;

		connector@0 {
			compatible = "usb-c-connector";
			reg = <0>;
			power-role = "dual";
			data-role = "dual";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;

					pmic_glink_hs_in: endpoint {
						remote-endpoint = <&usb_1_dwc3_hs>;
					};
				};

				port@1 {
					reg = <1>;

					pmic_glink_ss_in: endpoint {
						remote-endpoint = <&usb_dp_qmpphy_out>;
					};
				};

				port@2 {
					reg = <2>;

					pmic_glink_sbu: endpoint {
						remote-endpoint = <&usb0_sbu_mux>;
					};
				};
			};
		};
	};

	fan: pwm-fan {
		// 40 -> 1550 RPM
		// 65 -> 2450 RPM
		// 75 -> 2750 RPM
		// 90 -> 3250 RPM
		// 100 -> 3550 RPM
		// 130 -> 4400 RPM
		// 150 -> 4850 RPM
		// 180 -> 5500 RPM
		// 255 -> 6000 RPM
		compatible = "pwm-fan";
		/* level (0, 1, 2, 3, 4, 5, 6, 7) */
		cooling-levels = <0 40 65 75 90 100 130 150>;
		#cooling-cells = <2>;
		fan-supply = <&fan_pwr>;
		pwms = <&pm8550_pwm 3 100000>;

		pinctrl-names = "default";
		pinctrl-0 = <&pwm_out_default &fan_int>;

		pulses-per-revolution = <4>;
		interrupt-parent = <&tlmm>;
		interrupts = <13 IRQ_TYPE_EDGE_FALLING>;
	};

	sound {
		compatible = "qcom,sm8550-sndcard", "qcom,sm8450-sndcard";
		model = "QCS8550-AYN-ODIN2";
		audio-routing =
				"IN1_HPHL", "HPHL_OUT",
				"IN2_HPHR", "HPHR_OUT",
				"IN3_AUX", "AUX_OUT",
				"AMIC1", "MIC BIAS1",
				"AMIC2", "MIC BIAS2",
				"AMIC5", "MIC BIAS4",
				"TX SWR_INPUT0", "ADC1_OUTPUT",
				"TX SWR_INPUT1", "ADC2_OUTPUT",
				"TX SWR_INPUT1", "ADC4_OUTPUT",
				"RX_TX DEC0_INP", "TX DEC0 MUX",
				"RX_TX DEC1_INP", "TX DEC1 MUX",
				"RX_TX DEC2_INP", "TX DEC2 MUX",
				"RX_TX DEC3_INP", "TX DEC3 MUX";
		pinctrl-names = "default";
		pinctrl-0 = <&tert_mi2s_active>;

		wcd-playback-dai-link {
			link-name = "WCD Playback";

			cpu {
				sound-dai = <&q6apmbedai RX_CODEC_DMA_RX_0>;
			};

			codec {
				sound-dai = <&wcd938x 0>, <&swr1 0>, <&lpass_rxmacro 0>;
			};

			platform {
				sound-dai = <&q6apm>;
			};
		};

		wcd-capture-dai-link {
			link-name = "WCD Capture";

			cpu {
				sound-dai = <&q6apmbedai TX_CODEC_DMA_TX_3>;
			};

			codec {
				sound-dai = <&wcd938x 1>, <&swr2 0>, <&lpass_txmacro 0>;
			};

			platform {
				sound-dai = <&q6apm>;
			};
		};

		speaker-dai-link {
			link-name = "Primary MI2S Playback";

			cpu {
				sound-dai = <&q6apmbedai PRIMARY_MI2S_RX>;
			};

			codec {
				sound-dai = <&spk_amp_l 0>, <&spk_amp_r 0>;
			};

			platform {
				sound-dai = <&q6apm>;
			};
		};

		va-dai-link {
			link-name = "VA Capture";

			cpu {
				sound-dai = <&q6apmbedai TX_CODEC_DMA_TX_3>;
			};

			codec {
				sound-dai = <&lpass_vamacro 0>;
			};

			platform {
				sound-dai = <&q6apm>;
			};
		};

		dp0-dai-link {
			link-name = "DP0 Playback";
			cpu {
				sound-dai = <&q6apmbedai DISPLAY_PORT_RX_0>;
			};

			platform {
				sound-dai = <&q6apm>;
			};

			codec {
				sound-dai = <&mdss_dp0>;
			};
		};
	};

	thermal-zones {
		cpuss2-thermal {
			trips {
				// cpu7_middle_alert0: trip-point0 {
				// 	temperature = <90000>;
				// 	hysteresis = <2000>;
				// 	type = "passive";
				// };

				// cpu7_middle_alert1: trip-point1 {
				// 	temperature = <95000>;
				// 	hysteresis = <2000>;
				// 	type = "passive";
				// };

				// cpu7_middle_crit: cpu-critical {
				// 	temperature = <110000>;
				// 	hysteresis = <1000>;
				// 	type = "critical";
				// };

				cpu7_middle_fan0: trip-point2 {
					temperature = <50000>;
					hysteresis = <2000>;
					type = "active";
				};

				cpu7_middle_fan1: trip-point3 {
					temperature = <55000>;
					hysteresis = <2000>;
					type = "active";
				};

				cpu7_middle_fan2: trip-point4 {
					temperature = <60000>;
					hysteresis = <2000>;
					type = "active";
				};

				cpu7_middle_fan3: trip-point5 {
					temperature = <65000>;
					hysteresis = <2000>;
					type = "active";
				};

				cpu7_middle_fan4: trip-point6 {
					temperature = <70000>;
					hysteresis = <2000>;
					type = "active";
				};

				cpu7_middle_fan5: trip-point7 {
					temperature = <75000>;
					hysteresis = <2000>;
					type = "active";
				};

				cpu7_middle_fan6: trip-point8 {
					temperature = <80000>;
					hysteresis = <2000>;
					type = "active";
				};

				// cpu7_middle_fan7: trip-point9 {
				// 	temperature = <75000>;
				// 	hysteresis = <2000>;
				// 	type = "active";
				// };

				// cpu7_middle_fan8: trip-point10 {
				// 	temperature = <80000>;
				// 	hysteresis = <2000>;
				// 	type = "active";
				// };
			};

			cooling-maps {
				map0 {
					trip = <&cpu7_middle_fan0>;
					cooling-device = <&fan 0 1>;
				};
				map1 {
					trip = <&cpu7_middle_fan1>;
					cooling-device = <&fan 1 2>;
				};
				map2 {
					trip = <&cpu7_middle_fan2>;
					cooling-device = <&fan 2 3>;
				};
				map3 {
					trip = <&cpu7_middle_fan3>;
					cooling-device = <&fan 3 4>;
				};
				map4 {
					trip = <&cpu7_middle_fan4>;
					cooling-device = <&fan 4 5>;
				};
				map5 {
					trip = <&cpu7_middle_fan5>;
					cooling-device = <&fan 5 6>;
				};
				map6 {
					trip = <&cpu7_middle_fan6>;
					cooling-device = <&fan 6 7>;
				};
				// map7 {
				// 	trip = <&cpu7_middle_fan7>;
				// 	cooling-device = <&fan 7 8>;
				// };
				// map8 {
				// 	trip = <&cpu7_middle_fan8>;
				// 	cooling-device = <&fan 8 9>;
				// };
			};
		};
	};

	usb0-sbu-mux {
		compatible = "gpio-sbu-mux";

		enable-gpios = <&tlmm 140 GPIO_ACTIVE_LOW>;
		select-gpios = <&tlmm 141 GPIO_ACTIVE_HIGH>;

		pinctrl-names = "default";
		pinctrl-0 = <&usb0_sbu_default>;

		mode-switch;
		orientation-switch;

		port {
			usb0_sbu_mux: endpoint {
				remote-endpoint = <&pmic_glink_sbu>;
			};
		};
	};

	vph_pwr: vph-pwr-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vph_pwr";
		regulator-min-microvolt = <3700000>;
		regulator-max-microvolt = <3700000>;

		regulator-always-on;
		regulator-boot-on;
	};

	wcn7850-pmu {
		compatible = "qcom,wcn7850-pmu";

		pinctrl-names = "default";
		pinctrl-0 = <&wlan_en>, <&pmk8550_sleep_clk>;

		wlan-enable-gpios = <&tlmm 80 GPIO_ACTIVE_HIGH>;
		/*
		 * TODO Add bt-enable-gpios once the Bluetooth driver is
		 * converted to using the power sequencer.
		 */

		vdd-supply = <&vreg_s5g_0p85>;
		vddio-supply = <&vreg_l15b_1p8>;
		vddaon-supply = <&vreg_s2g_0p85>;
		vdddig-supply = <&vreg_s4e_0p95>;
		vddrfa1p2-supply = <&vreg_s4g_1p25>;
		vddrfa1p8-supply = <&vreg_s6g_1p86>;

		regulators {
			vreg_pmu_rfa_cmn: ldo0 {
				regulator-name = "vreg_pmu_rfa_cmn";
			};

			vreg_pmu_aon_0p59: ldo1 {
				regulator-name = "vreg_pmu_aon_0p59";
			};

			vreg_pmu_wlcx_0p8: ldo2 {
				regulator-name = "vreg_pmu_wlcx_0p8";
			};

			vreg_pmu_wlmx_0p85: ldo3 {
				regulator-name = "vreg_pmu_wlmx_0p85";
			};

			vreg_pmu_btcmx_0p85: ldo4 {
				regulator-name = "vreg_pmu_btcmx_0p85";
			};

			vreg_pmu_rfa_0p8: ldo5 {
				regulator-name = "vreg_pmu_rfa_0p8";
			};

			vreg_pmu_rfa_1p2: ldo6 {
				regulator-name = "vreg_pmu_rfa_1p2";
			};

			vreg_pmu_rfa_1p8: ldo7 {
				regulator-name = "vreg_pmu_rfa_1p8";
			};

			vreg_pmu_pcie_0p9: ldo8 {
				regulator-name = "vreg_pmu_pcie_0p9";
			};

			vreg_pmu_pcie_1p8: ldo9 {
				regulator-name = "vreg_pmu_pcie_1p8";
			};
		};
	};
};

&apps_rsc {
	regulators-0 {
		compatible = "qcom,pm8550-rpmh-regulators";
		qcom,pmic-id = "b";

		vdd-bob1-supply = <&vph_pwr>;
		vdd-bob2-supply = <&vph_pwr>;
		vdd-l1-l4-l10-supply = <&vreg_s6g_1p86>;
		vdd-l2-l13-l14-supply = <&vreg_bob1>;
		vdd-l3-supply = <&vreg_s4g_1p25>;
		vdd-l5-l16-supply = <&vreg_bob1>;
		vdd-l6-l7-supply = <&vreg_bob1>;
		vdd-l8-l9-supply = <&vreg_bob1>;
		vdd-l11-supply = <&vreg_s4g_1p25>;
		vdd-l12-supply = <&vreg_s6g_1p86>;
		vdd-l15-supply = <&vreg_s6g_1p86>;
		vdd-l17-supply = <&vreg_bob2>;

		/* cdc-vdd-mic-bias-supply */
		vreg_bob1: bob1 {
			regulator-name = "vreg_bob1";
			regulator-min-microvolt = <3296000>;
			regulator-max-microvolt = <3960000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_bob2: bob2 {
			regulator-name = "vreg_bob2";
			regulator-min-microvolt = <2720000>;
			regulator-max-microvolt = <3960000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		/* Sensors vddio */
		vreg_l1b_1p8: ldo1 {
			regulator-name = "vreg_l1b_1p8";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};

		/* Sensors vdd */
		vreg_l2b_3p0: ldo2 {
			regulator-name = "vreg_l2b_3p0";
			regulator-min-microvolt = <3008000>;
			regulator-max-microvolt = <3008000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l5b_3p1: ldo5 {
			regulator-name = "vreg_l5b_3p1";
			regulator-min-microvolt = <3104000>;
			regulator-max-microvolt = <3104000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l6b_1p8: ldo6 {
			regulator-name = "vreg_l6b_1p8";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <3008000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l7b_1p8: ldo7 {
			regulator-name = "vreg_l7b_1p8";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <3008000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l8b_1p8: ldo8 {
			regulator-name = "vreg_l8b_1p8";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <3008000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l9b_2p9: ldo9 {
			regulator-name = "vreg_l9b_2p9";
			regulator-min-microvolt = <2960000>;
			regulator-max-microvolt = <3008000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l10b_1p8: ldo10 {
			regulator-name = "vreg_l10b_1p8";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l11b_1p2: ldo11 {
			regulator-name = "vreg_l11b_1p2";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1504000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l12b_1p8: ldo12 {
			regulator-name = "vreg_l12b_1p8";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};

		/* Not really providing LCM_VDD_2V8, remove in the future */
		vreg_l13b_3p0: ldo13 {
			regulator-name = "vreg_l13b_3p0";
			regulator-min-microvolt = <3000000>;
			regulator-max-microvolt = <3000000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};

		/* fingerprint sensor */
		vreg_l14b_3p2: ldo14 {
			regulator-name = "vreg_l14b_3p2";
			regulator-min-microvolt = <3200000>;
			regulator-max-microvolt = <3200000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};

		/* Speaker dvdd */
		vreg_l15b_1p8: ldo15 {
			regulator-name = "vreg_l15b_1p8";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};

		/* FM radio? wtf */
		vreg_l16b_2p8: ldo16 {
			regulator-name = "vreg_l16b_2p8";
			regulator-min-microvolt = <2800000>;
			regulator-max-microvolt = <2800000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};

		/* Setting regulator-allow-set-load here will crash the device */
		vreg_l17b_2p5: ldo17 {
			regulator-name = "vreg_l17b_2p5";
			regulator-min-microvolt = <2504000>;
			regulator-max-microvolt = <2504000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};
	};

	regulators-1 {
		compatible = "qcom,pm8550vs-rpmh-regulators";
		qcom,pmic-id = "c";

		vdd-l1-supply = <&vreg_s4g_1p25>;
		vdd-l2-supply = <&vreg_s4e_0p95>;
		vdd-l3-supply = <&vreg_s4e_0p95>;

		vreg_l1c_1p2: ldo1 {
			regulator-name = "vreg_l1c_1p2";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l3c_0p9: ldo3 {
			regulator-name = "vreg_l3c_0p9";
			regulator-min-microvolt = <880000>;
			regulator-max-microvolt = <912000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};
	};

	regulators-2 {
		compatible = "qcom,pm8550vs-rpmh-regulators";
		qcom,pmic-id = "d";

		vdd-l1-supply = <&vreg_s4e_0p95>;
		vdd-l2-supply = <&vreg_s4e_0p95>;
		vdd-l3-supply = <&vreg_s4e_0p95>;

		vreg_l1d_0p88: ldo1 {
			regulator-name = "vreg_l1d_0p88";
			regulator-min-microvolt = <880000>;
			regulator-max-microvolt = <920000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};

		/* ldo2 supplies SM8550 VDD_LPI_MX */
	};

	regulators-3 {
		compatible = "qcom,pm8550vs-rpmh-regulators";
		qcom,pmic-id = "e";

		vdd-l1-supply = <&vreg_s4e_0p95>;
		vdd-l2-supply = <&vreg_s4e_0p95>;
		vdd-l3-supply = <&vreg_s4g_1p25>;
		vdd-s4-supply = <&vph_pwr>;
		vdd-s5-supply = <&vph_pwr>;

		vreg_s4e_0p95: smps4 {
			regulator-name = "vreg_s4e_0p95";
			regulator-min-microvolt = <904000>;
			regulator-max-microvolt = <984000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_s5e_1p08: smps5 {
			regulator-name = "vreg_s5e_1p08";
			regulator-min-microvolt = <1010000>;
			regulator-max-microvolt = <1120000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l1e_0p88: ldo1 {
			regulator-name = "vreg_l1e_0p88";
			regulator-min-microvolt = <880000>;
			regulator-max-microvolt = <912000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l2e_0p9: ldo2 {
			regulator-name = "vreg_l2e_0p9";
			regulator-min-microvolt = <870000>;
			regulator-max-microvolt = <970000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l3e_1p2: ldo3 {
			regulator-name = "vreg_l3e_1p2";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};
	};

	regulators-4 {
		compatible = "qcom,pm8550ve-rpmh-regulators";
		qcom,pmic-id = "f";

		vdd-l1-supply = <&vreg_s4e_0p95>;
		vdd-l2-supply = <&vreg_s4e_0p95>;
		vdd-l3-supply = <&vreg_s4e_0p95>;
		vdd-s4-supply = <&vph_pwr>;

		vreg_s4f_0p5: smps4 {
			regulator-name = "vreg_s4f_0p5";
			regulator-min-microvolt = <300000>;
			regulator-max-microvolt = <700000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l1f_0p9: ldo1 {
			regulator-name = "vreg_l1f_0p9";
			regulator-min-microvolt = <880000>;
			regulator-max-microvolt = <912000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l2f_0p88: ldo2 {
			regulator-name = "vreg_l2f_0p88";
			regulator-min-microvolt = <880000>;
			regulator-max-microvolt = <912000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l3f_0p88: ldo3 {
			regulator-name = "vreg_l3f_0p88";
			regulator-min-microvolt = <880000>;
			regulator-max-microvolt = <912000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};
	};

	regulators-5 {
		compatible = "qcom,pm8550vs-rpmh-regulators";
		qcom,pmic-id = "g";

		vdd-l1-supply = <&vreg_s4g_1p25>;
		vdd-l2-supply = <&vreg_s4g_1p25>;
		vdd-l3-supply = <&vreg_s4g_1p25>;
		vdd-s1-supply = <&vph_pwr>;
		vdd-s2-supply = <&vph_pwr>;
		vdd-s3-supply = <&vph_pwr>;
		vdd-s4-supply = <&vph_pwr>;
		vdd-s5-supply = <&vph_pwr>;
		vdd-s6-supply = <&vph_pwr>;

		vreg_s1g_1p25: smps1 {
			regulator-name = "vreg_s1g_1p25";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1300000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_s2g_0p85: smps2 {
			regulator-name = "vreg_s2g_0p85";
			regulator-min-microvolt = <500000>;
			regulator-max-microvolt = <1036000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_s3g_0p8: smps3 {
			regulator-name = "vreg_s3g_0p8";
			regulator-min-microvolt = <300000>;
			regulator-max-microvolt = <1004000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_s4g_1p25: smps4 {
			regulator-name = "vreg_s4g_1p25";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1352000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_RET>;
		};

		vreg_s5g_0p85: smps5 {
			regulator-name = "vreg_s5g_0p85";
			regulator-min-microvolt = <500000>;
			regulator-max-microvolt = <1004000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_s6g_1p86: smps6 {
			regulator-name = "vreg_s6g_1p86";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <2000000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l1g_1p2: ldo1 {
			regulator-name = "vreg_l1g_1p2";
			regulator-min-microvolt = <1144000>;
			regulator-max-microvolt = <1256000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l2g_1p1: ldo2 {
			regulator-name = "vreg_l2g_1p1";
			regulator-min-microvolt = <1100000>;
			regulator-max-microvolt = <1200000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l3g_1p2: ldo3 {
			regulator-name = "vreg_l3g_1p2";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};
	};
};

&gpi_dma1 {
	status = "okay";
};

&gpi_dma2 {
	status = "okay";
};

&gpu {
	status = "okay";

	zap-shader {
		firmware-name = "qcom/sm8550/ayn/odin2/a740_zap.mbn";
	};
};

&hub_i2c0_data_clk {
	/delete-property/ bias-pull-up;
	bias-disable;
};

&i2c0 {
	clock-frequency = <400000>;
	status = "okay";

	pwm_rgb_left: sn3112@54 {
		compatible = "si-en,sn3112-pwm";
		reg = <0x54>;
		sdb-gpios = <&tlmm 55 GPIO_ACTIVE_LOW>;
		vdd-supply = <&mcu_3v3>;
		#pwm-cells = <1>;
	};
};

&i2c4 {
	clock-frequency = <400000>;
	status = "okay";

	touchscreen@20 {
		compatible = "syna,rmi4-i2c";
		reg = <0x20>;
		#address-cells = <1>;
		#size-cells = <0>;
		interrupts-extended = <&tlmm 25 0x2008>;

		pinctrl-names = "default", "sleep";
		pinctrl-0 = <&ts_int_default>;
		pinctrl-1 = <&ts_int_sleep>;

		vio-supply = <&vreg_l12b_1p8>;
		
		syna,startup-delay-ms = <200>;
		syna,reset-delay-ms = <200>;

		rmi4-f01@1 {
			syna,nosleep-mode = <0x1>;
			reg = <0x1>;
		};

		rmi4-f12@12 {
			reg = <0x12>;
			syna,rezero-wait-ms = <20>;
			syna,clip-x-low = <0>;
			syna,clip-y-low = <0>;
			syna,clip-x-high = <1080>;
			syna,clip-y-high = <1920>;
			syna,sensor-type = <1>;
			touchscreen-inverted-x;
		};
	};
};

&i2c12 {
	clock-frequency = <400000>;
	status = "okay";

	pwm_rgb_right: sn3112@54 {
		compatible = "si-en,sn3112-pwm";
		reg = <0x54>;
		sdb-gpios = <&tlmm 56 GPIO_ACTIVE_LOW>;
		vdd-supply = <&mcu_3v3>;
		#pwm-cells = <1>;
	};
};

&i2c_master_hub_0 {
	status = "okay";
};

&i2c_hub_0 {
	clock-frequency = <100000>;
	status = "okay";

	hdmi-bridge@48 {
		compatible = "lontium,lt8912b";
		reg = <0x48> ;
		reset-gpios = <&tlmm 7 GPIO_ACTIVE_LOW>;

		vdd-supply = <&hdmi_pwr>;
		vccmipirx-supply = <&hdmi_pwr>;
		vccsysclk-supply = <&hdmi_pwr>;
		vcclvdstx-supply = <&hdmi_pwr>;
		vcchdmitx-supply = <&hdmi_pwr>;
		vcclvdspll-supply = <&hdmi_pwr>;
		vcchdmipll-supply = <&hdmi_pwr>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				hdmi_out_in: endpoint {
					data-lanes = <1 2 3 4>;
					remote-endpoint = <&mdss_dsi0_out>;
				};
			};

			port@1 {
				reg = <1>;

				lt8912_out: endpoint {
					remote-endpoint = <&hdmi_con>;
				};
			};
		};
	};
};

&i2c_hub_2 {
	status = "okay";

	spk_amp_l: aw883xx_smartpa@34 {
		status = "okay";
		re-max = <40000>;
		re-min = <1000>;
		sound-channel = <0>;
		sync-load = <1>;
		fade-enable = <1>;
		aw-cali-mode = "none";
		irq-gpio = <&tlmm 97 GPIO_ACTIVE_HIGH>;
		reset-gpio = <&tlmm 103 GPIO_ACTIVE_HIGH>;
		reg = <0x34>;
		compatible = "awinic,aw883xx_smartpa";
		sound-name-prefix = "SpkrLeft";
		#sound-dai-cells = <1>;
	};

	spk_amp_r: aw883xx_smartpa@35 {
		status = "okay";
		re-max = <40000>;
		re-min = <1000>;
		sound-channel = <1>;
		sync-load = <1>;
		fade-enable = <1>;
		aw-cali-mode = "none";
		irq-gpio = <&tlmm 98 GPIO_ACTIVE_HIGH>;
		reset-gpio = <&tlmm 100 GPIO_ACTIVE_HIGH>;
		reg = <0x35>;
		compatible = "awinic,aw883xx_smartpa";
		sound-name-prefix = "SpkrRight";
		#sound-dai-cells = <1>;
	};

	// typec-mux@42 {
	// 	compatible = "fcs,fsa4480";
	// 	reg = <0x42>;

	// 	vcc-supply = <&vreg_bob1>;

	// 	mode-switch;
	// 	orientation-switch;

	// 	port {
	// 		fsa4480_sbu_mux: endpoint {
	// 			remote-endpoint = <&pmic_glink_sbu>;
	// 		};
	// 	};
	// };
};

/* ICE has a high impact on UFS read speed on -next */
&ice {
	status = "disabled";
};

// &lpass_vamacro {
// 	/* For recording I guess */
// 	pinctrl-0 = <&dmic01_default>, <&dmic02_default>;
// 	pinctrl-names = "default";
// 	vdd-micb-supply = <&vreg_s10b_1p8>;
// 	qcom,dmic-sample-rate = <4800000>;
// };

&lpass_tlmm {
	tert_mi2s_active: tert-mi2s-active-state {
		sck-pins {
			pins = "gpio12";
			function = "i2s3_clk";
			drive-strength = <8>;
			bias-disable;
			output-high;
		};

		ws-pins {
			pins = "gpio13";
			function = "i2s3_ws";
			drive-strength = <8>;
			bias-disable;
			output-high;
		};

		data-pins {
			pins = "gpio17","gpio18";
			function = "i2s3_data";
			drive-strength = <8>;
			bias-disable;
		};
	};
};

&lpass_wsamacro {
	status = "disabled";
};

&mdss {
	status = "okay";
};

&mdss_dp0 {
	status = "okay";
	sound-name-prefix = "Display Port0";
};

&mdss_dp0_out {
	data-lanes = <0 1 2 3>;
	remote-endpoint = <&usb_dp_qmpphy_dp_in>;
	link-frequencies = /bits/ 64 <1620000000 2700000000 5400000000 8100000000>;
};

&mdss_dsi0 {
	vdda-supply = <&vreg_l3e_1p2>;
	status = "okay";
};

&mdss_dsi0_out {
	remote-endpoint = <&hdmi_out_in>;
	data-lanes = <0 1 2 3>;
};

&mdss_dsi0_phy {
	vdds-supply = <&vreg_l1e_0p88>;
	status = "okay";
};

&mdss_dsi1 {
	vdda-supply = <&vreg_l3e_1p2>;
	status = "okay";

	panel: panel@0 {
		compatible = "syna,td4328";
		reg = <0>;

		pinctrl-0 = <&sde_dsi_active>, <&sde_te_active>;
		pinctrl-1 = <&sde_dsi_suspend>, <&sde_te_suspend>;
		pinctrl-names = "default", "sleep";

		vdd-supply = <&lcm_vdd_2v8>;
		vddio-supply = <&vreg_l12b_1p8>;

		backlight = <&backlight>;
		/* touchscreen and display panel share the same reset gpio! */
		reset-gpios = <&tlmm 133 GPIO_ACTIVE_LOW>;

		port {
			panel0_in: endpoint {
				remote-endpoint = <&mdss_dsi1_out>;
			};
		};
	};
};

&mdss_dsi1_out {
	remote-endpoint = <&panel0_in>;
	data-lanes = <0 1 2 3>;
};

&mdss_dsi1_phy {
	vdds-supply = <&vreg_l1e_0p88>;
	status = "okay";
};

&pcie0 {
	wake-gpios = <&tlmm 96 GPIO_ACTIVE_HIGH>;
	perst-gpios = <&tlmm 94 GPIO_ACTIVE_LOW>;

	max-link-speed = <2>;

	pinctrl-0 = <&pcie0_default_state>;
	pinctrl-names = "default";

	status = "okay";
};

&pcieport0 {
	wifi@0 {
		compatible = "pci17cb,1107";
		reg = <0x10000 0x0 0x0 0x0 0x0>;

		vddrfacmn-supply = <&vreg_pmu_rfa_cmn>;
		vddaon-supply = <&vreg_pmu_aon_0p59>;
		vddwlcx-supply = <&vreg_pmu_wlcx_0p8>;
		vddwlmx-supply = <&vreg_pmu_wlmx_0p85>;
		vddrfa0p8-supply = <&vreg_pmu_rfa_0p8>;
		vddrfa1p2-supply = <&vreg_pmu_rfa_1p2>;
		vddrfa1p8-supply = <&vreg_pmu_rfa_1p8>;
		vddpcie0p9-supply = <&vreg_pmu_pcie_0p9>;
		vddpcie1p8-supply = <&vreg_pmu_pcie_1p8>;
	};
};

&pcie0_phy {
	vdda-phy-supply = <&vreg_l1e_0p88>;
	vdda-pll-supply = <&vreg_l3e_1p2>;

	status = "okay";
};

&pm8550_gpios {
	pwm_out_default: pwm-out-default-state {
		pins = "gpio8";
		function = "func1";
		input-disable;
		output-enable;
		output-low;
		bias-disable;
		power-source = <1>;
	};

	sdc2_card_det_n: sdc2-card-det-state {
		pins = "gpio12";
		function = "normal";
		input-enable;
		output-disable;
		bias-pull-up;
		power-source = <1>; /* 1.8 V */
	};

	volume_up_n: volume-up-n-state {
		pins = "gpio6";
		function = "normal";
		power-source = <1>;
		bias-pull-up;
		input-enable;
	};
};

&pm8550_pwm {
	status = "okay";
};

&pm8550b_eusb2_repeater {
	qcom,tune-usb2-disc-thres = /bits/ 8 <0x6>;
	qcom,tune-usb2-amplitude = /bits/ 8 <0xb>;
	qcom,tune-usb2-preem = /bits/ 8 <0x3>;
	vdd18-supply = <&vreg_l15b_1p8>;
	vdd3-supply = <&vreg_l5b_3p1>;
};

/*
&pm8550b_haptics {
	nvmem-names = "hap_cfg_sdam";
	nvmem = <&pmk8550_sdam_46>;
	status = "okay";
};
*/

&pmk8550_gpios {
	pmk8550_sleep_clk: sleep-clk-state {
		pins = "gpio3";
		function = "func1";
		input-disable;
		output-enable;
		bias-disable;
		power-source = <0>;
	};

	pwm_backlight_default: pwm-backlight-default-state {
		pins = "gpio5";
		function = "func3";
		input-disable;
		output-low;
		output-enable;
		bias-disable;
		power-source = <0>;
		qcom,drive-strength = <2>;
	};
};

&pmk8550_pwm {
	status = "okay";
};

&pmk8550_rtc {
	nvmem-cells = <&rtc_offset>;
	nvmem-cell-names = "offset";

	status = "okay";
};

&pmk8550_sdam_2 {
	status = "okay";

	rtc_offset: rtc-offset@bc {
		reg = <0xbc 0x4>;
	};
};

&pon_pwrkey {
	status = "okay";
};

&pon_resin {
	linux,code = <KEY_VOLUMEDOWN>;
	status = "okay";
};

&qupv3_id_0 {
	status = "okay";
};

&qupv3_id_1 {
	status = "okay";
};

&remoteproc_adsp {
	firmware-name = "qcom/sm8550/ayn/odin2/adsp.mbn",
			"qcom/sm8550/ayn/odin2/adsp_dtb.mbn";
	status = "okay";
};

&remoteproc_cdsp {
	firmware-name = "qcom/sm8550/ayn/odin2/cdsp.mbn",
			"qcom/sm8550/ayn/odin2/cdsp_dtb.mbn";
	status = "okay";
};

&sdhc_2 {
	cd-gpios = <&pm8550_gpios 12 GPIO_ACTIVE_LOW>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&sdc2_default &sdc2_card_det_n>;
	pinctrl-1 = <&sdc2_sleep &sdc2_card_det_n>;
	vmmc-supply = <&vreg_l9b_2p9>;
	vqmmc-supply = <&vreg_l8b_1p8>;
	bus-width = <4>;
	no-sdio;
	no-mmc;

	/* SDR104 does seem to be working */
	/delete-property/ sdhci-caps-mask;
	qcom,dll-config = <0x0007442c>;

	status = "okay";
};

&sleep_clk {
	clock-frequency = <32000>;
};

&swr1 {
	status = "okay";

	/* WCD9385 RX */
	wcd_rx: codec@0,4 {
		compatible = "sdw20217010d00";
		reg = <0 4>;
		qcom,rx-port-mapping = <1 2 3 4 5>;
	};
};

&swr2 {
	status = "okay";

	/* WCD9385 TX */
	wcd_tx: codec@0,3 {
		compatible = "sdw20217010d00";
		reg = <0 3>;
		qcom,tx-port-mapping = <2 2 3 4>;
	};
};

&tlmm {
	gpio-reserved-ranges = <32 8>;

	fan_int: fan-int-state {
		pins = "gpio13";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
	};

	prim_mi2s_active: prim-mi2s-active-state {
		sck-pins {
			pins = "gpio121";
			function = "i2s1_sck";
			drive-strength = <8>;
			bias-disable;
			output-high;
		};

		ws-pins {
			pins = "gpio123";
			function = "i2s1_ws";
			drive-strength = <8>;
			bias-disable;
			output-high;
		};

		data0-pins {
			pins = "gpio122";
			function = "i2s1_data0";
			drive-strength = <8>;
			bias-disable;
		};

		data1-pins {
			pins = "gpio124";
			function = "i2s1_data1";
			drive-strength = <8>;
			bias-disable;
		};
	};

	m1_m2_keys_default: m1-m2-keys-default-state {
		pins = "gpio57", "gpio58";
		function = "gpio";
		bias-pull-up;
	};

	mcu_default: mcu-default-state {
		pins = "gpio12";
		function = "gpio";
		bias-pull-down;
	};

	ts_int_default: ts-int-default-state {
		pins = "gpio25";
		function = "gpio";
		bias-pull-up;
		drive-strength = <8>;
	};

	ts_int_sleep: ts-int-sleep-state {
		pins = "gpio25";
		function = "gpio";
		bias-pull-down;
		drive-strength = <2>;
	};

	bt_default: bt-default-state {
		bt-en-pins {
			pins = "gpio81";
			function = "gpio";
			drive-strength = <16>;
			bias-disable;
		};

		sw-ctrl-pins {
			pins = "gpio82";
			function = "gpio";
			bias-pull-down;
		};
	};

	usb0_sbu_default: usb0-sbu-state {
		oe-n-pins {
			pins = "gpio140";
			function = "gpio";
			bias-disable;
			drive-strength = <16>;
			output-high;
		};

		sel-pins {
			pins = "gpio141";
			function = "gpio";
			bias-disable;
			drive-strength = <16>;
		};
	};

	sde_dsi_active: sde-dsi-active-state {
		pins = "gpio133";
		function = "gpio";
		drive-strength = <8>;
		bias-disable;
	};

	sde_dsi_suspend: sde-dsi-suspend-state {
		pins = "gpio133";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-down;
	};

	sde_te_active: sde-te-active-state {
		pins = "gpio86";
		function = "mdp_vsync";
		drive-strength = <2>;
		bias-pull-down;
	};

	sde_te_suspend: sde-te-suspend-state {
		pins = "gpio86";
		function = "mdp_vsync";
		drive-strength = <2>;
		bias-pull-down;
	};

	wcd_default: wcd-reset-n-active-state {
		pins = "gpio108";
		function = "gpio";
		drive-strength = <16>;
		bias-disable;
		output-low;
	};

	wlan_en: wlan-en-state {
		pins = "gpio80";
		function = "gpio";
		drive-strength = <8>;
		bias-pull-down;
	};

	fan_pwr_en: fan-pwr-en-state {
		pins = "gpio109";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
		output-low;
	};
};

&uart7 {
	status = "okay";
};

&uart14 {
	status = "okay";

	bluetooth {
		compatible = "qcom,wcn7850-bt";

		vddio-supply = <&vreg_l15b_1p8>;
		vddaon-supply = <&vreg_s4e_0p95>;
		vdddig-supply = <&vreg_s4e_0p95>;
		vddrfa0p8-supply = <&vreg_s4e_0p95>;
		vddrfa1p2-supply = <&vreg_s4g_1p25>;
		vddrfa1p9-supply = <&vreg_s6g_1p86>;

		max-speed = <3200000>;

		enable-gpios = <&tlmm 81 GPIO_ACTIVE_HIGH>;
		swctrl-gpios = <&tlmm 82 GPIO_ACTIVE_HIGH>;

		pinctrl-0 = <&bt_default>;
		pinctrl-names = "default";
	};
};

&uart15 {
	status = "okay";

	gamepad {
		compatible = "ayn,odin2-gamepad";
		vdd-supply = <&mcu_3v3>;
		enable-gpios = <&tlmm 12 GPIO_ACTIVE_HIGH>;
		pinctrl-0 = <&mcu_default>;
		pinctrl-names = "default";
	};
};

&ufs_mem_hc {
	reset-gpios = <&tlmm 210 GPIO_ACTIVE_LOW>;
	vcc-supply = <&vreg_l17b_2p5>;
	vcc-max-microamp = <1300000>;
	vccq-supply = <&vreg_l1g_1p2>;
	vccq-max-microamp = <1200000>;
	vdd-hba-supply = <&vreg_l3g_1p2>;

	/* ICE has a high impact on UFS read speed on -next */
	/delete-property/ qcom,ice;

	status = "okay";
};

&ufs_mem_phy {
	vdda-phy-supply = <&vreg_l1d_0p88>;
	vdda-pll-supply = <&vreg_l3e_1p2>;

	status = "okay";
};

&usb_1 {
	status = "okay";
};

&usb_1_dwc3 {
	dr_mode = "otg";
	usb-role-switch;
	maximum-speed = "super-speed-plus-gen2x1";
};

&usb_1_dwc3_hs {
	remote-endpoint = <&pmic_glink_hs_in>;
};

&usb_1_dwc3_ss {
	remote-endpoint = <&usb_dp_qmpphy_usb_ss_in>;
};

&usb_1_hsphy {
	vdd-supply = <&vreg_l1e_0p88>;
	vdda12-supply = <&vreg_l3e_1p2>;

	phys = <&pm8550b_eusb2_repeater>;

	status = "okay";
};

&usb_dp_qmpphy {
	vdda-phy-supply = <&vreg_l3e_1p2>;
	vdda-pll-supply = <&vreg_l3f_0p88>;

	mode-switch;
	orientation-switch;

	status = "okay";
};

&usb_dp_qmpphy_dp_in {
	remote-endpoint = <&mdss_dp0_out>;
};

&usb_dp_qmpphy_out {
	remote-endpoint = <&pmic_glink_ss_in>;
};

&usb_dp_qmpphy_usb_ss_in {
	remote-endpoint = <&usb_1_dwc3_ss>;
};

&xo_board {
	clock-frequency = <76800000>;
};
